:root {
    --sk-color: hsl(171, 100%, 41%);
}

.right-align {
    display: flex;
    justify-content: end;
}

.flex1 {
    flex: 1
}

.flex2 {
    flex: 2
}

.card-header {
    box-shadow: 0 0 0 0;
}

.card {
    box-shadow: 0 0.1em 1em -0.25em rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 2%);
}

.media {
    text-align: center;
}