:root {
    --sk-color: hsl(171, 100%, 41%);
}

.right-align {
    display: flex;
    justify-content: end;
}

.flex05 {
    flex: 0.5
}

.flex2 {
    flex: 2
}

.selectionBtn {
    padding-left: 0px;
    padding-right: 5px;
    flex: 0;
}

.card-header {
    box-shadow: 0 0 0 0;
}

.card {
    box-shadow: 0 0.1em 1em -0.25em rgb(10 10 10 / 10%), 0 0 0 1px rgb(10 10 10 / 2%);
}

.media {
    text-align: center;
}

.centerDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.markets-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.markets-grid .card {
    display: inline-grid;
}

.markets-grid .card-footer {
    align-items: flex-end;
    display: flex;
    border: 0;
}

.solutions.media-content {
    text-align: left;
}

#mapContainer {
    display: flex;
    gap: 20px;
}

#map {
    height: 500px;
    width: 100%;
}

#capture {
    height: 500px;
    width: 100%;
}