<!DOCTYPE html>
<html>

<head>
    <title>Climalearn</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="/static/spinkit.min.css">
    <link rel="stylesheet" href="https://cdn.rawgit.com/octoshrimpy/bulma-o-steps/master/bulma-steps.css">
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/sweetalert2@10.10.1/dist/sweetalert2.min.css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    <link rel="stylesheet" href="/static/style.css">
    <script async defer data-website-id="79bfe49d-fdb5-4366-ad42-f53bc32cfd00" data-host-url="https://umami.loophole.site" src="/static/umami.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.10.1/dist/sweetalert2.all.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.8.2/dist/chart.min.js"></script>
    <script src="/static/script.js"></script>
</head>

<body>
    <section class="hero is-primary is-medium">
      <div class="hero-head">
        <header class="navbar">
          <div class="container">
            <div id="navbarMenuHeroC" class="navbar-menu">
              <div class="navbar-end">
                <span class="navbar-item">
                  <span id="currLoc" class="mr-4"></span>
                  <a class="button is-primary is-inverted" onclick="changeLoc()">
                    <span class="icon">
                      <i class="fa-solid fa-location-pin"></i>
                    </span>
                    <span>Change Location</span>
                  </a>
                </span>
              </div>
            </div>
          </div>
        </header>
      </div>
        <div class="hero-body" style="padding: 3rem 3rem">
          <div class="container has-text-centered">
            <p class="title">
              Climalearn
            </p>
          </div>
        </div>
      
        <div class="hero-foot">
          <nav class="tabs is-boxed is-fullwidth">
            <div class="container">
              <ul>
                <li><a href="/home">Overview</a></li>
                <li class="is-active"><a href="#">Air Temperature</a></li>
                <li><a href="/sealevel">Sea Levels</a></li>
                <li><a href="/ocean">Ocean Heat</a></li>
                <li><a href="/drought">Droughts</a></li>
                <li><a href="/energy">Energy Grid Data</a></li>
                <li><a href="/solutions">What can you do?</a></li>
              </ul>
            </div>
          </nav>
        </div>
      </section>
      
      <div class="container mt-6" id="spinner">
        <center>
          <div class="sk-bounce">
            <div class="sk-bounce-dot"></div>
            <div class="sk-bounce-dot"></div>
          </div>
      </center>
      </div>

      <div class="container mt-6" id="display" style="display: none;">
        <div class="card">
          <div class="card-content">
            <div class="columns">
              <div class="column flex05">
                <button class="button is-primary" id="prevbtn" onclick="loadCharts(whereToStart='subtract')" style="display: none;">
                  <span class="icon">
                    <i class="fa-solid fa-angle-left"></i>
                  </span>
                  <span>Previous</span>
                </button>
              </div>

              <div class="dropdown">
                <div class="dropdown-trigger">
                  <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                    <span>Max Temp</span>
                    <span class="icon is-small">
                      <i class="fas fa-angle-down" aria-hidden="true"></i>
                    </span>
                  </button>
                </div>
                <div class="dropdown-menu" id="dropdown-menu" role="menu">
                  <div class="dropdown-content">
                    <a id="loc0" onclick="loadCharts(whereToStart = '0')" class="dropdown-item is-active">
                      January
                    </a>
                    <a id="loc1" onclick="loadCharts(whereToStart = '1')" class="dropdown-item">
                      July
                    </a>
                  </div>
                </div>
              </div>

              <div class="dropdown">
                <div class="dropdown-trigger">
                  <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                    <span>Min Temp</span>
                    <span class="icon is-small">
                      <i class="fas fa-angle-down" aria-hidden="true"></i>
                    </span>
                  </button>
                </div>
                <div class="dropdown-menu" id="dropdown-menu" role="menu">
                  <div class="dropdown-content">
                    <a id="loc2" onclick="loadCharts(whereToStart = '2')" class="dropdown-item">
                      January
                    </a>
                    <a id="loc3" onclick="loadCharts(whereToStart = '3')" class="dropdown-item">
                      July
                    </a>
                  </div>
                </div>
              </div>

              <div class="dropdown">
                <div class="dropdown-trigger">
                  <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                    <span>Precipitation</span>
                    <span class="icon is-small">
                      <i class="fas fa-angle-down" aria-hidden="true"></i>
                    </span>
                  </button>
                </div>
                <div class="dropdown-menu" id="dropdown-menu" role="menu">
                  <div class="dropdown-content">
                    <a id="loc4" onclick="loadCharts(whereToStart = '4')" class="dropdown-item">
                      January
                    </a>
                    <a id="loc5" onclick="loadCharts(whereToStart = '5')" class="dropdown-item">
                      July
                    </a>
                  </div>
                </div>
              </div>

              
              <div class="column flex2">
                <ul class="steps has-gaps">
                  <li class="steps-segment is-active" id="step0">
                    <span class="steps-marker"></span>
                  </li>
                  <li class="steps-segment" id="step1">
                    <span class="steps-marker"></span>
                  </li>
                  <li class="steps-segment" id="step2">
                    <span class="steps-marker"></span>
                  </li>
                  <li class="steps-segment" id="step3">
                    <span class="steps-marker"></span>
                  </li>
                  <li class="steps-segment" id="step4">
                    <span class="steps-marker"></span>
                  </li>
                  <li class="steps-segment" id="step5">
                    <span class="steps-marker"></span>
                  </li>
                </ul>
              </div>
              <div class="column right-align flex05">
                <button class="button is-primary" onclick="loadCharts(whereToStart='add')" id="nextbtn">
                  <span>Next</span>
                  <span class="icon">
                    <i class="fa-solid fa-angle-right"></i>
                  </span>
                </button>
              </div>
            </div>
            <h2 id="text" class="subtitle"></h2>
            <p id="subtext"></p>
            <p class="mt-2"><strong>Cause(s):</strong> Temperatures are rising because of higher greenhouse gas emissions. Greenhouse gas emissions increase because of <strong>motor vehicles that aren't electric, generating electricity using inefficient sources, burning fossil fuels, and emissions from livestock such as cows.</strong></p>
            <p class="mt-2"><strong>Effect(s):</strong> Heat waves will occur more often. <mark>Many disasters such as storms, floods, and droughts will be more damaging.</mark></p>
            
            <canvas class="mt-4" id="chart" width="300" height="150"></canvas>
          </div>
        </div>
      </div>
</body>

</html>