<!DOCTYPE html>
<html>

<head>
    <title>Climalearn</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="/static/style.css">
    <script defer data-domain="climalearn.loca.lt" src="https://plausible.stunel.io/js/plausible.js"></script>
</head>

<body>
    <section class="hero is-primary is-medium">
        <div class="hero-body" style="padding: 3rem 3rem">
          <div class="container has-text-centered">
            <p class="title">
              Climalearn
            </p>
          </div>
        </div>
      
        <div class="hero-foot">
          <nav class="tabs is-boxed is-fullwidth">
            <div class="container">
              <ul>
                <li><a href="/home">Overview</a></li>
                <li><a href="/air">Air Temperature</a></li>
                <li><a href="/sealevel">Sea Levels</a></li>
                <li><a href="/ocean">Ocean Heat</a></li>
                <li class="is-active"><a href="#">Droughts</a></li>
                <li><a href="/energy">Energy Grid Data</a></li>
                <li><a href="/solutions">What can you do?</a></li>
              </ul>
            </div>
          </nav>
        </div>
      </section>
      

      <div class="container mt-6" style="display: flex; flex-direction: row; justify-content: center;">
        <div class="card" style="width: 100%">
          <div class="card-content">
            <h2 class="subtitle">Higher air temperatures mean <strong>more droughts, which means farmlands would die and water supply would be limited </strong>. According to NIDIS, <strong>over 50% of the United States was in a drought so far this year.</strong> (<a href="https://www.drought.gov/historical-information">Source</a>) The UN also predicts that 700 million people will be displaced because of droughts by 2030. (<a href="https://sdgs.un.org/goals/goal13">Source</a>) High temperatures and climate change contribute to the creation of droughts. <a href="/solutions">Find out what you can do to help slow this down.</a></h2>
            <p class="mb-2">The following shows drought information data from NIDIS, or the National Integrated Drought Information System.</p>
            <iframe src="https://www.drought.gov/historical-information?dataset=1&selectedDateUSDM=20110419&selectedDateSpi=20220701&embedded=true" name="Drought.gov Historical Information" scrolling="Yes" height="600" width="100%" style="border: none;"></iframe>
          </div>
        </div>
      </div>
</body>

</html>