<!DOCTYPE html>
<html>

<head>
    <title>Climalearn</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>

<body>
    <section class="hero is-primary is-medium">
        <div class="hero-body">
          <div class="container has-text-centered">
            <p class="title">
              Climalearn
            </p>
            <p class="subtitle">
                Aiming to educate the general population on the effects of climate change.
            </p>
          </div>
        </div>
      
        <div class="hero-foot">
          <nav class="tabs is-boxed is-fullwidth">
            <div class="container">
              <ul>
                <li class="is-active"><a href="#">Overview</a></li>
                <li><a href="/solutions">What can you do?</a></li>
              </ul>
            </div>
          </nav>
        </div>
      </section>
</body>

</html>