<!DOCTYPE html>
<html>

<head>
    <title>Climalearn</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <script defer data-domain="climalearn.loca.lt" src="https://plausible.loca.lt/js/plausible.js"></script>
</head>

<body>
    <section class="hero is-medium has-text-centered is-primary">
        <div class="hero-body">
            <p class="title">
                Climalearn
            </p>
            <p class="subtitle">
                Aiming to educate the general population on the effects of climate change.
            </p>
        </div>
    </section>

    <div class="container mt-4">
        <h4 class="has-text-centered">
            Each year, the amount of CO2 emitted into the atmosphere increases, and keeps hurting the earth. It has
            become a global concern, leading the UN to make it one of their 17 Sustainability Development Goals. <a href="https://sdgs.un.org/goals/goal13">Goal 13
            task 3 (13.3)</a> is to educate the general public about the effects of CO2 on the environment. This website aims
            to do just that. With Climalearn, you can see what changes NASA predicts to the place you live in, and find
            out how you can help slow this down for a better future.
        </h4>
    </div>

    <div class="container mt-4">
        <a href="/home"><button class="button is-primary is-fullwidth mt-4">Get Started</button></a>
    </div>
</body>

</html>