<!DOCTYPE html>
<html>

<head>
    <title>Climalearn</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script defer data-domain="climalearn.loca.lt" src="https://plausible.stunel.io/js/plausible.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.8.2/dist/chart.min.js"></script>
    <script src="/static/ocean.js"></script>
</head>

<body>
    <section class="hero is-primary is-medium">
        <div class="hero-body" style="padding: 3rem 3rem">
          <div class="container has-text-centered">
            <p class="title">
              Climalearn
            </p>
          </div>
        </div>
      
        <div class="hero-foot">
          <nav class="tabs is-boxed is-fullwidth">
            <div class="container">
              <ul>
                <li><a href="/home">Overview</a></li>
                <li><a href="/air">Air Temperature</a></li>
                <li><a href="/sealevel">Sea Levels</a></li>
                <li class="is-active"><a href="#">Ocean Heat</a></li>
                <li><a href="/drought">Droughts</a></li>
                <li><a href="/energy">Energy Grid Data</a></li>
                <li><a href="/solutions">What can you do?</a></li>
              </ul>
            </div>
          </nav>
        </div>
      </section>
      

      <div class="container mt-6" style="display: flex; flex-direction: row; justify-content: center;">
        <div class="card" style="width: 100%">
          <div class="card-content">
            <h2 class="subtitle">Over the last few years, the amount of heat content that goes into the oceans has been escalating steeply. Heat content is responsible for <a href="/sealevel">sea levels</a> rising and harms marine animals' habitats.</h2>
            <p class="mb-2">The following shows the rise of heat content in the oceans in zettajoules accumulated by NASA's ECCO project. To learn more about zettajoules, check out <a href="https://www.youtube.com/watch?v=2mxdaLe0zDs">this video</a> by Senator Sheldon Whitehouse from Rhode Island.</p>
            <canvas class="mt-4" id="chart" width="300" height="150"></canvas>
          </div>
        </div>
      </div>
</body>

</html>