<!DOCTYPE html>
<html>

<head>
    <title>Climalearn</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="/static/style.css">
    <script async defer data-website-id="79bfe49d-fdb5-4366-ad42-f53bc32cfd00" data-host-url="https://umami.loca.lt" src="/static/umami.js"></script>
</head>

<body>
    <section class="hero is-primary is-medium">
        <div class="hero-body" style="padding: 3rem 3rem">
            <div class="container has-text-centered">
                <p class="title">
                    Climalearn
                </p>
            </div>
        </div>

        <div class="hero-foot">
            <nav class="tabs is-boxed is-fullwidth">
                <div class="container">
                    <ul>
                        <li class="is-active"><a href="/home">Overview</a></li>
                        <li><a href="/air">Air Temperature</a></li>
                        <li><a href="/sealevel">Sea Levels</a></li>
                        <li><a href="/ocean">Ocean Heat</a></li>
                        <li><a href="/drought">Droughts</a></li>
                        <li><a href="/energy">Energy Grid Data</a></li>
                        <li><a href="/solutions">What can you do?</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </section>


    <div class="container mt-6" style="display: flex; flex-direction: row; justify-content: center;">
        <div class="card" style="width: 100%">
            <div class="card-content">
                <h2 class="title">Climate change is changing the Earth, and it's happening fast.</h2>
                <p class="mt-2 subtitle">The following is an overview of what is predicted to happen over the next few years because of climate change.</p>
                <ol type="1" class="ml-4">
                    <li><a href="/air">Air temperatures are rising,</a> and on average, the <strong>high and low temperature for each day will be hotter.</strong></li>
                    <li><a href="/sealevel">Sea levels are rising,</a> which means <strong>more frequent floods and more damaging natural disasters.</strong></li>
                    <li><a href="/ocean">The oceans are heating up,</a> which causes sea levels to rise and <strong>kills many marine animals.</strong></li>
                    <li><a href="/drought">The amount of droughts in the US is rising each year,</a> which means <strong>damaged crops and moving millions of people.</strong></li>
                </ol>

                <p class="mt-2">Don't turn a blind eye on climate change. <a href="/solutions">Help out</a> by doing simple things and reduce the amount of carbon emissions that go into the air each year.</p>
            </div>
        </div>
    </div>
</body>

</html>