<!DOCTYPE html>
<html>

<head>
    <title>Climalearn</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="/static/style.css">
    <script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCBkLo1c_hacAFgLjiwyCFXh2T-eM9qfns&callback=initMap"></script>
    <script type="module" src="/static/sealevel.js"></script>
</head>

<body>
    <section class="hero is-primary is-medium">
        <div class="hero-body" style="padding: 3rem 3rem">
          <div class="container has-text-centered">
            <p class="title">
              Climalearn
            </p>
          </div>
        </div>
      
        <div class="hero-foot">
          <nav class="tabs is-boxed is-fullwidth">
            <div class="container">
              <ul>
                <li><a href="/home">Overview</a></li>
                <li><a href="/air">Air Temperature</a></li>
                <li class="is-active"><a href="#">Sea Levels</a></li>
                <li><a href="/ocean">Ocean Heat</a></li>
                <li><a href="/drought">Droughts</a></li>
                <li><a href="/solutions">What can you do?</a></li>
              </ul>
            </div>
          </nav>
        </div>
      </section>
      

      <div class="container mt-6" style="display: flex; flex-direction: row; justify-content: center;">
        <div class="card" style="width: 100%">
          <div class="card-content">
            <h2 class="subtitle">Higher sea levels means <strong>damaging flooding ocurring more frequently and more natural disasters</strong>. NOAA predicts that sea levels will rise as much as they did previously in 100 years now in <strong>only 30 years.</strong> (<a href="https://oceanservice.noaa.gov/hazards/sealevelrise/sealevelrise-tech-report.html#:~:text=Sea%20level%20along%20the%20U.S.,years%20(1920%20%2D%202020).">Source</a>) Sea levels usually rise because of climate change. <a href="/solutions">Find out what you can do to help slow this down.</a></h2>
            <p class="mb-2">The following map shows how much sea levels rise on average.</p>
            <div id="map"></div>
            <div id="capture"></div>
          </div>
        </div>
      </div>
</body>

</html>