<!DOCTYPE html>
<html>

<head>
    <title>Climalearn</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <section class="hero is-primary is-medium">
        <div class="hero-body" style="padding: 3rem 3rem">
          <div class="container has-text-centered">
            <p class="title">
              Climalearn
            </p>
          </div>
        </div>
      
        <div class="hero-foot">
          <nav class="tabs is-boxed is-fullwidth">
            <div class="container">
              <ul>
                <li><a href="/home">Overview</a></li>
                <li class="is-active"><a href="#">What can you do?</a></li>
              </ul>
            </div>
          </nav>
        </div>
      </section>
      
      <div class="container mt-6">
        <div class="card is-fullwidth">
            <header class="card-header">
              <p class="card-header-title">
                Public Transport
              </p>
            </header>
            <div class="card-content pt-4">
              <div class="content">
                Transport accounts for a big part of total greenhouse gas emissions, up to <a href="https://www.unep.org/explore-topics/energy/what-we-do/transport" target="_blank">25% according to the UNEP</a>. By using public transport, there are less vehicles on the road, helping lower emissions. 
              </div>
            </div>
            <footer class="card-footer">
              <a href="/solutions/transport" class="card-footer-item">Find Public Transport Near You</a>
            </footer>
          </div>

          <div class="card is-fullwidth mt-4">
            <header class="card-header">
              <p class="card-header-title">
                Convert to Solar Energy
              </p>
            </header>
            <div class="card-content pt-4">
              <div class="content">
                Choosing a renewable energy source helps reduce greenhouse gas emissions while also saving money. The US Department of Energy has also shown that power sources for electric vehicles like Natural Gas, Coal, and Nuclear power cause the most emissions, while power sources like Hydro power, Solar power, and power from biomass cause the least emissions. (<a href="https://afdc.energy.gov/vehicles/electric_emissions.html" target="_blank">View Statistics</a>)
              </div>
            </div>
            <footer class="card-footer">
              <a href="/solutions/sunroof" class="card-footer-item">Find Out How You Can Help By Installing Solar Panels</a>
            </footer>
          </div>

          <div class="card is-fullwidth mt-4">
            <header class="card-header">
              <p class="card-header-title">
                Shop at Local Markets
              </p>
            </header>
            <div class="card-content pt-4">
              <div class="content">
                Local markets tend to use sustainable agriculture, which uses <a href="https://www.unep.org/news-and-stories/story/10-ways-you-can-help-fight-climate-crisis" target="_blank">to 56% less energy and creates 64% fewer emissions.</a>
              </div>
            </div>
            <footer class="card-footer">
              <a href="/solutions/markets" class="card-footer-item">Find Local Markets Near You</a>
            </footer>
          </div>

          <div class="card is-fullwidth mt-4 mb-4">
            <header class="card-header">
              <p class="card-header-title">
                Plant Trees
              </p>
            </header>
            <div class="card-content pt-4">
              <div class="content">
                Many forests are taken down each year due to deforestation and forest fires. By planting trees, you can help regrow these forests.
              </div>
            </div>
            <footer class="card-footer">
              <a href="https://www.worldenvironmentday.global/get-involved/practical-guide" class="card-footer-item">Check out the WorldEnvironmentDay's guide</a>
            </footer>
          </div>
      </div>
</body>

</html>