<!DOCTYPE html>
<html>

<head>
    <title>Climalearn</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    <link rel="stylesheet" href="/static/style.css">
    <script defer data-domain="climalearn.loca.lt" src="https://plausible.stunel.io/js/plausible.js"></script>
</head>

<body>
    <section class="hero is-primary is-medium">
        <div class="hero-body" style="padding: 3rem 3rem">
          <div class="container has-text-centered">
            <p class="title">
              Climalearn
            </p>
          </div>
        </div>
      
        <div class="hero-foot">
          <nav class="tabs is-boxed is-fullwidth">
            <div class="container">
              <ul>
                <li><a href="/home">Overview</a></li>
                <li><a href="/air">Air Temperature</a></li>
                <li><a href="/sealevel">Sea Levels</a></li>
                <li><a href="/ocean">Ocean Heat</a></li>
                <li><a href="/drought">Droughts</a></li>
                <li class="is-active"><a href="#">What can you do?</a></li>
              </ul>
            </div>
          </nav>
        </div>
      </section>

      <div class="container mt-6">
        <div class="card mb-3">
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-48x48">
                  <img src="/static/train-subway-solid.svg" alt="icon">
                </figure>
              </div>
              <div class="solutions media-content">
                <p class="title is-4">Take Public Transit</p>
                <p class="subtitle is-6">Transit accounts for a big part of total greenhouse gas emissions, up to <a href="https://www.unep.org/explore-topics/energy/what-we-do/transport" target="_blank">25% according to the UNEP</a>. By using public transport, there are less vehicles on the road, helping lower emissions. </p>
                <a href="/solutions/transit"><button class="button is-link mt-2">Find Public Transit Near You</button></a>
              </div>
            </div>
          </div>
        </div>

        <div class="card mb-3">
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-48x48">
                  <img src="/static/solar-panel-solid.svg" alt="icon">
                </figure>
              </div>
              <div class="solutions media-content">
                <p class="title is-4">Implement Solar Energy</p>
                <p class="subtitle is-6">Choosing a renewable energy source helps reduce greenhouse gas emissions while also saving money. The US Department of Energy has also shown that power sources for electric vehicles like Natural Gas, Coal, and Nuclear power cause the most emissions, while power sources like Hydro power, Solar power, and power from biomass cause the least emissions. (<a href="https://afdc.energy.gov/vehicles/electric_emissions.html" target="_blank">View Statistics</a>)</p>
                <a href="/solutions/sunroof"><button class="button is-link mt-2">Learn More</button></a>
              </div>
            </div>
          </div>
        </div>

        <div class="card mb-3">
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-48x48">
                  <img src="/static/building-wheat-solid.svg" alt="icon">
                </figure>
              </div>
              <div class="solutions media-content">
                <p class="title is-4">Shop at Local Markets</p>
                <p class="subtitle is-6">Local markets tend to use sustainable agriculture, which uses <a href="https://www.unep.org/news-and-stories/story/10-ways-you-can-help-fight-climate-crisis" target="_blank">to 56% less energy and creates 64% fewer emissions.</a></p>
                <a href="/solutions/markets"><button class="button is-link mt-2">Find Local Markets Near You</button></a>
              </div>
            </div>
          </div>
        </div>

        <div class="card mb-3">
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-48x48">
                  <img src="/static/tree-solid.svg" alt="icon">
                </figure>
              </div>
              <div class="solutions media-content">
                <p class="title is-4">Help the Environment</p>
                <p class="subtitle is-6">Many forests are taken down each year due to deforestation and forest fires. By planting trees, you can help regrow these forests and increase the amount of oxygen in the air. </p>
                <a href="https://www.worldenvironmentday.global/get-involved/practical-guide"><button class="button is-link mt-2">Check out the WorldEnvironmentDay's guide</button></a>
              </div>
            </div>
          </div>
        </div>
      </div>
</body>

</html>