<!DOCTYPE html>
<html>

<head>
    <title>Climalearn</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/sweetalert2@10.10.1/dist/sweetalert2.min.css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    <link rel="stylesheet" href="/static/style.css">
    <script src="https://cdn.rawgit.com/mattmezza/bulmahead/master/dist/bulmahead.bundle.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10.10.1/dist/sweetalert2.all.min.js"></script>
    <script type="module" src="/static/transit.js"></script>
    <script defer data-domain="climalearn.loca.lt" src="https://plausible.loca.lt/js/plausible.js"></script>
</head>

<body>
    <section class="hero is-primary is-medium">
        <div class="hero-body" style="padding: 3rem 3rem">
          <div class="container has-text-centered">
            <p class="title">
              Climalearn
            </p>
          </div>
        </div>
      
        <div class="hero-foot">
          <nav class="tabs is-boxed is-fullwidth">
            <div class="container">
              <ul>
                <li><a href="/home">Overview</a></li>
                <li><a href="/air">Air Temperature</a></li>
                <li><a href="/sealevel">Sea Levels</a></li>
                <li><a href="/ocean">Ocean Heat</a></li>
                <li><a href="/drought">Droughts</a></li>
                <li><a href="/solutions">What can you do?</a></li>
              </ul>
            </div>
          </nav>
        </div>
      </section>

      <div class="container mt-6">
        <a class="button is-primary" href="/solutions">
            <span class="icon">
              <i class="fa-solid fa-chevron-left"></i>
            </span>
            <span>Back</span>
          </a>
      </div>

      <div class="container mt-6">
        <div class="columns">
            <div class="column" style="display: flex; justify-content: center;">
                <div class="card" style="width: fit-content;">
                  <div class="card-content">
                    <div class="media">
                      <div class="media-content">
                        <i class="fa-solid fa-location-dot fa-3x"></i>
                        <p class="title is-4">View Transit Routes on Google Maps</p>
                      </div>
                    </div>
                
                    <div class="centerDiv">
                    <p class="mb-3">Where to start?</p>
                    <div class="dropdown mb-3">
                        <div class="dropdown-trigger">
                            <input id="source" class="input" type="text" placeholder="Where to start from?" aria-haspopup="true" aria-controls="source-menu">
                        </div>
                        <div class="dropdown-menu" id="source-menu" role="menu"></div>
                    </div>

                    <p class="mb-3">Where to end?</p>
                    <div class="dropdown mb-3">
                        <div class="dropdown-trigger">
                            <input id="dest" class="input" type="text" placeholder="Where to go?" aria-haspopup="true" aria-controls="dest-menu">
                        </div>
                        <div class="dropdown-menu" id="dest-menu" role="menu"></div>
                    </div>

                    <a class="button is-primary" onclick="viewRoutes()">View Transit Routes</a>

                    <iframe class="mt-4" height="400" width="600" id="route" frameborder="0" style="border:0" referrerpolicy="no-referrer-when-downgrade" allowfullscreen></iframe>
                </div>
                  </div>
                  </div>
            </div>
        </div>
      </div>
</body>

</html>